extends templates/default-template

block content 
    .page-head Subscribers


    table.tbl-subsc.highlight.z-depth-4
        caption 
            a(href="/subscriber/add").btn-small.btn-floating
                i.material-icons add
            br
            br
        if !data.length
            tr
                th(colspan=4) Ingen data i databasen 
        else
            tr 
            
                th Id 
                th Fullname 
                th Email
                th(colspan=2) Action
            for d in data 
                tr 
                    td= d.id 
                    td= d.fullname
                    td= d.email
                    td 
                        a(href=`/subscriber/edit/${d.id}`).btn-small.btn-floating
                            i.small.material-icons edit 
                    td
                        a(href=`/subscriber/delete/${d.id}`  onclick=`return confirm("Vil du slette ${d.fullname} ")`).btn-small.btn-floating
                            i.small.material-icons delete 